helloworld.html
.ipynb_checkpoints
2018S_final_v0.tst
2018S_final_v1.tst
2018S_final_v2.tst
2018S_final_v3.tst
All.xlsx
Allbig.xlsx
Allsmall.xlsx
Allfake.xlsx
cleaned_key0.txt
cleaned_key1.txt
cleaned_key2.txt
cleaned_key3.txt
fakes.xlsx
histo.svg
key0.txt
key1.txt
key2.txt
key3.txt